body {
  font-family: sans-serif;
  margin: 0;
}

h1   {
  border-bottom: 1px solid #aaa;
  padding-bottom: 10px;
  margin-left: 169px;
  font-family: linux libertine;
  font-size: 1.8em;
}


.top {
  border-bottom: solid 1px rgb(112, 144, 224);
  width: 1189px;
  float: left;
  font-size: 0.6em;
  background: url('grey.png')
}

.top li{
  list-style-type: none;
  display: inline;
}

.top_gauche {
  padding-left: 10px;
}

.div_gauche{
float: left;
width: 12%;
border-right: 1px solid rgb(112, 144, 224);
font-size: 0.8em;
background-color: #f9f9f9;
margin-top: -21px;
}

.acceuil {
  border-bottom: 1px solid #aaa;

}

.barre_gauche li {
list-style-type: none;
margin-left: 2px;
}

.sstitre {
  border-bottom: 1px solid #aaa;
  margin-left: 169px;
}
.global {
  margin-left: 168px;
}

.texte {
  margin-top: 20px;
  float: left;
  width: 54%;
  margin-left: 22px;
}

.infogen {
  margin-top: 20px;
  float: right;
  border: 1px solid black;
  background-color: #f9f9f9;
  width: 38%;

}

.titre {
  border: 1px solid black;
  background-color: rgb(76, 96, 153);
  background-image: url(plume.png);
  background-repeat: no-repeat;
  background-position: right;
  margin: 10px;
  text-align: center;
  color: white;
}

.tolkien {
  padding-top: 15px;
}

.photo {
  border-bottom: 1px solid rgb(112, 144, 224);
  text-align: center;
}

.sstitretab {
  background-color: rgb(76, 96, 153);
  margin: 10px;
  margin-right: 10%;
  margin-left: 10%;
  padding: 0px;
  text-align: center;
}
/*css div info*/

th {
  padding-left: 2em;
}

td {
  padding-left: 12em;
}

.oeuvre li {
  list-style-type: disc;
}

.comp {
  border-bottom: 1px solid rgb(112, 144, 224);
}

/*css sommaire*/

.sommaire {
  margin-top: 20px;
  border: 1px solid black;
  background-color: #f9f9f9;
  width: 46%;
  display: block;
}
.sommaire h2{
  font-size: 17px;
  text-align: center;
}

.sousliste {
  list-style-type: none;
}
